<div id="bodycontainer">

<a href="/">
<div class="smallheader">
  <h5>&lsaquo; Back</h5>
  <h4>The Vaults of Erowid</h4>
</div>
</a>

<div class="about">
  <img src="/images/erowid-logo.png" />

  <h1>About Erowid</h1>

  <div class="mission">
    <h2>Mission</h2>
    <p>Erowid is a member-supported organization providing access to reliable, non-judgmental information about psychoactive plants, chemicals, and related issues. We work with academic, medical, and experiential experts to develop and publish new resources, as well as to improve and increase access to already existing resources.</p>
  </div>
  <div class="join">
    <h2>Join Erowid</h2>
    <p>Erowid is a non-profit 501c3 that depends on supporters like you for its funding.  By joining Erowid with a donation as little as $35/yr, you'll receive a subscription to the print newsletter, <a href="#">Erowid Extracts</a>.</p>
    <p><input type="button" value="Join Now" /></p>
  </div>
  <div class="contact">
    <h2>Contact</h2>
    <p>General questions about psychoactives can be submitted via <a href="#">Ask Erowid</a>.</p>
    <p>Press inquires and questions about Erowid may be directed to <a href="mailto:sage%40erowid.org">sage&#64;erowid.org</a>.</p>
  </div>
</div>

<div class="footer">
  <a href="http://www.erowid.org/general/about/">view on non-mobile site</a>
</div>

</div>
